In [15]:
import pandas as pd

# brics_countries = pd.read_csv("brics.csv") 
brics_countries = pd.read_csv("brics.csv", index_col = 0) # this tell that the first column contain the row csv
brics_countries

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [23]:
brics_countries = pd.read_csv("brics.csv", index_col = 0)
brics_countries['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [24]:
brics_countries.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [29]:
brics_countries["on_earth"] = [True, True, True, True, True]
brics_countries

    country  population      area    capital  on_earth
BR     True         200   8515767   Brasilia      True
RU     True         144  17098242     Moscow      True
IN     True        1252   3287590  New Delhi      True
CH     True        1357   9596961    Beijing      True
SA     True          55   1221037   Pretoria      True

In [36]:
brics_countries['density'] = brics_countries.population / brics_countries.area * 1000000
brics_countries

    country  population      area    capital  on_earth     density
BR     True         200   8515767   Brasilia      True   23.485847
RU     True         144  17098242     Moscow      True    8.421918
IN     True        1252   3287590  New Delhi      True  380.826076
CH     True        1357   9596961    Beijing      True  141.398928
SA     True          55   1221037   Pretoria      True   45.043680

In [41]:
brics_countries.loc['RU']

country           True
population         144
area          17098242
capital         Moscow
on_earth          True
density        8.42192
Name: RU, dtype: object

In [42]:
brics_countries.loc['RU', 'capital']

'Moscow'

In [48]:
brics_countries.loc["CH"]['capital']

'Beijing'