In [86]:
import pandas as pd

In [87]:
import numpy as np

In [88]:
df = pd.read_csv("https://raw.githubusercontent.com/ulklc/covid19-timeseries/master/countryReport/raw/rawReport.csv")

In [89]:
df.head()

,day,countryCode,countryName,region,lat,lon,confirmed,recovered,death
0,2020/01/22,AD,Andorra,Europe,42.5,1.5,0,0,0
1,2020/01/23,AD,Andorra,Europe,42.5,1.5,0,0,0
2,2020/01/24,AD,Andorra,Europe,42.5,1.5,0,0,0
3,2020/01/25,AD,Andorra,Europe,42.5,1.5,0,0,0
4,2020/01/26,AD,Andorra,Europe,42.5,1.5,0,0,0

In [90]:
df.drop(['countryCode', 'lat', 'lon'], axis=1, inplace=True)
# do that operation with column and reflect the changes inplace of this same df

In [91]:
df.head()

          day countryName  region  confirmed  recovered  death
0  2020/01/22     Andorra  Europe          0          0      0
1  2020/01/23     Andorra  Europe          0          0      0
2  2020/01/24     Andorra  Europe          0          0      0
3  2020/01/25     Andorra  Europe          0          0      0
4  2020/01/26     Andorra  Europe          0          0      0

In [92]:
df.rename(columns={
    'day':'Date',
    'countryName':'Country',
    'region':'Region',
    'confirmed':'Confirmed',
    'recovered':'Recovered',
    'death':'Deaths'
}, inplace=True)

In [93]:
df.head()

         Date  Country  Region  Confirmed  Recovered  Deaths
0  2020/01/22  Andorra  Europe          0          0       0
1  2020/01/23  Andorra  Europe          0          0       0
2  2020/01/24  Andorra  Europe          0          0       0
3  2020/01/25  Andorra  Europe          0          0       0
4  2020/01/26  Andorra  Europe          0          0       0

In [94]:
df['Date'] = pd.to_datetime(df['Date'])

In [95]:
df.head()

        Date  Country  Region  Confirmed  Recovered  Deaths
0 2020-01-22  Andorra  Europe          0          0       0
1 2020-01-23  Andorra  Europe          0          0       0
2 2020-01-24  Andorra  Europe          0          0       0
3 2020-01-25  Andorra  Europe          0          0       0
4 2020-01-26  Andorra  Europe          0          0       0

In [96]:
df.describe()

          Confirmed     Recovered         Deaths
count  4.816000e+04  4.816000e+04   48160.000000
mean   3.337351e+04  1.900134e+04    1469.926931
std    2.337786e+05  1.369078e+05    8948.599313
min    0.000000e+00  0.000000e+00       0.000000
25%    6.000000e+00  0.000000e+00       0.000000
50%    3.020000e+02  7.750000e+01       6.000000
75%    4.530500e+03  1.742000e+03      91.000000
max    6.256428e+06  3.484458e+06  188869.000000

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48160 entries, 0 to 48159
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       48160 non-null  datetime64[ns]
 1   Country    48160 non-null  object
 2   Region     48160 non-null  object
 3   Confirmed  48160 non-null  int64
 4   Recovered  48160 non-null  int64
 5   Deaths     48160 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.2+ MB

###### If some data are missing, must be fill and clean

In [98]:
# FILLING THE MISSING DATA USING PANDAS FILLNA METHOD
df = df.fillna('NA')    
# MORE APPROACH CAN BE USED USING ML PKGS

###### Group-by QUERY in pandas

In [99]:
grp_by_ctry = df.groupby('Country')[['Country', 'Confirmed', 'Deaths', 'Recovered']].sum().reset_index()
# THE RESET INDEX METHOD ADD INDICES FOR PROPER NUMBERING AND STRUCTURE
grp_by_ctry_and_date = df.groupby(['Country', 'Date'])[['Country', 'Date', 'Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

In [100]:
grp_by_ctry.head()

       Country  Confirmed  Deaths  Recovered
0  Afghanistan    3283692   97614    1772636
1      Albania     457161   13552     256066
2      Algeria    2527695  126686    1693641
3      Andorra     130621    7316      99827
4       Angola      88860    4011      31340

In [101]:
grp_by_ctry_and_date.head()

       Country       Date  Confirmed  Deaths  Recovered
0  Afghanistan 2020-01-22          0       0          0
1  Afghanistan 2020-01-23          0       0          0
2  Afghanistan 2020-01-24          0       0          0
3  Afghanistan 2020-01-25          0       0          0
4  Afghanistan 2020-01-26          0       0          0

In [102]:
# CONFIRMED MORE THAN 100
over_hundred_cases = df[df['Confirmed']>100]

In [103]:
over_hundred_cases

            Date   Country  Region  Confirmed  Recovered  Deaths
60    2020-03-22   Andorra  Europe        113          1       1
61    2020-03-23   Andorra  Europe        133          1       1
62    2020-03-24   Andorra  Europe        164          1       1
63    2020-03-25   Andorra  Europe        188          1       1
64    2020-03-26   Andorra  Europe        224          1       3
...          ...       ...     ...        ...        ...     ...
48155 2020-08-28  Zimbabwe  Africa       6388       5043     195
48156 2020-08-29  Zimbabwe  Africa       6406       5056     196
48157 2020-08-30  Zimbabwe  Africa       6412       5061     196
48158 2020-08-31  Zimbabwe  Africa       6497       5221     202
48159 2020-09-01  Zimbabwe  Africa       6559       5241     203

[27867 rows x 6 columns]

#### However, giving visualization of the trends tells more insight than the crunchy numbers of statistics and result intrinsically. Even though high dimensional data may sometimes be non-visualisable, so statistically results and numbers may pay important roles there. But still let's get some quick initial insight on our available dataset

In [116]:
print("""
                    =====================> VISUALIZATION TRENDS OF THE DATASET ====================\n\n\n
""")

                    =====================> VISUALIZATION TRENDS OF THE DATASET ====================

In [117]:
import matplotlib.pyplot as plt

In [121]:
# LET'S CHECK THE TOTAL NUMBER OF COUNTRY IN THERE
countries = df['Country'].unique()
print(f"{len(countries)} countries around the world has a blow on COVID-19")

215 countries around the world has a blow on COVID-19

###### Now let's do a visual trends for each of those country as the pandemic is moving from day one to date

In [137]:
for index in range(len(countries)):
    country_indices = df[df['Country']==countries[index]].reset_index()
    print(df['Country'])

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe

Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object
0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
48155       Zimbabwe
48156       Zimbabwe
48157       Zimbabwe
48158       Zimbabwe
48159       Zimbabwe
Name: Country, Length: 48160, dtype: object