###### Pandas package is built on top of numpy, most numpy features are available in Pandas to as well. All in Pandas is due to Numpy For manipulating, cleaning, pre-processing of data etc

In [1]:
# THERE ARE 2 MOST IMPORTANT OBJECT OF PANDAS (SERIES & DATAFRAME)

import pandas as pd

##### Pandas Series. It handle 1D array

In [3]:
data = pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd'])

In [13]:
print(data.keys())
print(data.values)

Index(['a', 'b', 'c', 'd'], dtype='object')
[2 4 6 8]

###### Handling Missing/NaN/None type values in PANDAS

In [42]:
A = pd.DataFrame([{'a':1, 'b': 2}, {'b': 3, 'c': 4}])

In [43]:
A

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [45]:
A = A.fillna(0) # THIS FILL ALL NaN SPOT WITH THE GIVEN VALUE

In [46]:
A

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0